{% extends "layout.html" %}
{% block content %}
<div id="about">
    <h2>About this project:</h2>
    <p>This visualization was written as part of a coding challenge for a software engineer position at Tempus.</p>
    <p>The dataset was taken from publically available data posted by the Department of Homeland Security, located at <a href="https://www.dhs.gov/tsa-claims-data">https://www.dhs.gov/tsa-claims-data</a>.</p>
    <h2>Why this dataset:</h2>
    <p>I chose this dataset for a number of reasons:</p>
    <ul>
        <li>I fly a LOT. Almost monthly! (which is a lot for a college student at least) I love to travel and between trips to visit family, explore unknown places, see new cities, meet new friends, and catch up with old friends, my luggage has only been lost once! It was even found again a day later. I'm so impressed with the system of getting baggage where it needs to be. With the sheer number of travelers travelling, I would expect more luggage to be lost especially with short connections or sudden plane changes. I wanted to take a closer look at the data and see if my assumptions about the efficiency of airline baggage transfer hold up.</li>
        </br>
        <li>One time I saw an episode of a show (which, based on a brief Google search, might have been Baggage Battles) that featured a store that bought up lost baggage from airlines and resold it in a huge, thrift-store-like store in a *random* southern town. The owners and customers of this store would find rare, expensive, and generally wacky items which made for an interesting enough TV show. Since seeing this episode, I have always been a little bit more curious about the people behind the luggage and why it didn't get back to them. Were the owners looking for it? Did they not care to search for their baggage? Did the airline lose it, find it, lose the owner, and then sell it again? How do you select which baggage to buy off the airline?? Can anyone?? The list of questions goes on...
            <ul><li>*I found <a href="https://qz.com/423724/your-lost-airline-luggage-probably-ended-up-at-this-store/">this</a> article about the store!</li></ul>
        </li>
        </br>
        <li>I thought I could come up with some silly analytics to run on it. I doubt that anyone will seriously stop flying a certain airline or flying to a certain city just because they happen to have more lost luggage claims. There is lots of fun information to look at, but none of it means very much without more details behind why the luggage was lost in the first place. I hope that no one is trying to personally lose their luggage to try to make money off an airline...at the very minimum it's just too much of a hassle to go through the claims process!</li>
    </ul>
</div>
<div id="footer">
    <h3>Thanks for visiting! Find more of my work <a href="https://github.com/lydiaauch">here</a>.</h3>
</div>
{% endblock %}
