{% extends "layout.html" %}
{% block content %}
<div id="about">
    <h2>About this project:</h2>
    <p>This visualization was written as part of a coding challenge for a software engineer position Tempus.</p>
    <p>The dataset was taken from publically available data posted by the Department of Homeland Security, located at <a href="https://www.dhs.gov/tsa-claims-data">https://www.dhs.gov/tsa-claims-data</a>.</p>
    <h2>Why this dataset:</h2>
    <p>I chose this dataset for a number of reasons:</p>
    <ul>
        <li>It is cool</li>
        <li>It is fun</li>
        <li>It is dope</li>
    </ul>
</div>
<div id="footer">
    <h3>Thanks for visiting! Find more of my work <a href="https://github.com/lydiaauch">here</a>.</h3>
</div>
{% endblock %}
