<link rel="stylesheet" href="/static/css/vis.css" />
{% extends "layout.html" %}
{% block content %}
<div id="graphs">
    <h3>Do you want to minimize your risk of losing your belongings?</h3>
    <div id="airline">
        <p>If you want to keep your baggage you should not fly <strong>Delta Air Lines</strong>.</p>
        <div id="airline_barchart"></div>
    </div>
    <div id="airport">
        <p>If you want to keep your baggage you should avoid flying to/from <strong>JFK</strong>.</p>
        <div id="barchart"></div>
    </div>
</div>
<div id="ml">
    <h3>What about if you want to lose your luggage and capitalize on that loss??</h3>
    <p>Below is an attempt to predict your potential return on lost items based on airline or airport!</p>
    <div id="compare_airport">
        <p>Predict claims settlement value based on airport!</p>
        {{ tables[0]|safe }}
    </div>
    <div id="compare_airline">
        <p>Predict claims settlement value based on airline!</p>
        {{ tables[1]|safe }}
    </div>
    <div id="metrics">
        <p>Which is the better predictor of settlement?</p>
        {{ tables[2]|safe }}
        <p>*Clearly both of these predictions are not very good! The negative R-squared values indicate that something is very wrong with the fit of our model or the original data source.</p>
    </div>
</div>
{% endblock %}
